@model EcubeWebPortalCMS.Models.RoomBookingRequestModel
@{
    ViewBag.Title = "Room Request";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("RoomBookingRequest", "RoomBookingRequest", FormMethod.Post, new { @id = "frmRoomBookingRequest", @class = "form_validation_ttip well stdform" }))
{
    <div class="">
        <div class="d-flex align-items-center border-bottom pb-2 mb-3 main-form--heading ">
            <h4 class="heading mb-4 m-md-0">
                @ViewBag.Title
            </h4>
        </div>
        <div class="pan">
            <div class="card shadow rounded overflow-hidden card-space">
                @Html.HiddenFor(m => m.HdnIFrame)
                @Html.HiddenFor(m => m.Id)

                <div class="row">
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Request Id
                        </h5>
                        @Html.TextBoxFor(m => m.Id, new { @class = "alphanumwithspc form-control ", @maxlength = "200", @tabindex = "2", @next = "MemberId", @readonly = "true" })
                    </div>
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Member/Guest Name

                        </h5>
                        @Html.TextBoxFor(m => m.Name, new { @class = "alphanumwithspc form-control ", @maxlength = "200", @tabindex = "2", @next = "MemberId", @readonly = "true" })
                    </div>
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Member Code
                        </h5>
                        @Html.TextBoxFor(m => m.MemberCode, new { @class = "numwospc form-control", @maxlength = "19", @tabindex = "3", @next = "BookingType", @readonly = "true" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Referred By Member Code
                        </h5>
                        @Html.TextBoxFor(m => m.ReferredMemberCode, new { @class = "numwospc form-control", @maxlength = "19", @tabindex = "3", @next = "BookingType", @readonly = "true" })
                    </div>
                    @*<div class="col-md-4 mb-2 pb-2">
                <h5 class="mb-2">
                    Member Id
                </h5>
                @Html.TextBoxFor(m => m.MemberId, new { @class = "numwospc form-control", @maxlength = "19", @tabindex = "3", @next = "InquiryFor", @readonly="true" })
            </div>
            <div class="col-md-4 mb-2 pb-2">
                <h5 class="mb-2">
                    Inquiry For
                </h5>
                @Html.TextBoxFor(m => m.InquiryFor, new { @class = "numwospc form-control", @maxlength = "19", @tabindex = "4", @next = "EMail" , @readonly="true"})
            </div>*@
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Email
                        </h5>
                        @Html.TextBoxFor(m => m.EMail, new { @class = "emailid form-control ", @maxlength = "200", @tabindex = "5", @next = "Address", @readonly = "true" })
                    </div>
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Address
                        </h5>
                        @Html.TextBoxFor(m => m.Address, new { @class = "alphanumwithspc form-control ", @maxlength = "500", @tabindex = "6", @next = "City", @readonly = "true" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            City
                        </h5>
                        @Html.TextBoxFor(m => m.City, new { @class = "alphanumwithspc form-control ", @maxlength = "50", @tabindex = "7", @next = "MobileNo", @readonly = "true" })
                    </div>
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Mobile
                        </h5>
                        @Html.TextBoxFor(m => m.MobileNo, new { @class = "numwithspc form-control ", @maxlength = "15", @tabindex = "8", @next = "Member", @readonly = "true" })
                    </div>
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            No oF Member
                        </h5>
                        @Html.TextBoxFor(m => m.Member, new { @class = "numwospc form-control", @maxlength = "2", @tabindex = "9", @next = "Adults", @readonly = "true" })
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Adults
                        </h5>
                        @Html.TextBoxFor(m => m.Adults, new { @class = "numwospc form-control", @maxlength = "2", @tabindex = "10", @next = "Children", @readonly = "true" })
                    </div>

                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Children
                        </h5>
                        @Html.TextBoxFor(m => m.Children, new { @class = "numwospc form-control", @maxlength = "2", @tabindex = "11", @next = "CheckedInDate", @readonly = "true" })
                    </div>

                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Check In Date
                        </h5>
                        @Html.TextBoxFor(m => m.StrCheckedInDate, new { @class = " form-control ", @tabindex = "12", @next = "strCheckedOutDate", @readonly = "true" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Check Out Date
                        </h5>
                        @Html.TextBoxFor(m => m.StrCheckedOutDate, new { @class = " form-control ", @tabindex = "13", @next = "strRoomType", @readonly = "true" })
                    </div>
                    <div class="col-md-4 mb-2 pb-2">
                        <h5 class="mb-2">
                            Status
                        </h5>
                        @Html.DropDownList("Status", new List<SelectListItem>()
                            {new SelectListItem { Text="Pending Request", Value = "0"},
                            new SelectListItem { Text="Booked", Value = "1"},
                            new SelectListItem { Text="Cancel", Value = "2"}
                            }, new { @class = "form-control " })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-2 pb-2">
                        <h5 class="mb-2">
                            Room Type
                        </h5>
                        <div class="row">
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.RoomTypeId, new { @class = "alphanumwithspc form-control mb-2", @maxlength = "50", @tabindex = "12", @next = "Remarks", @readonly = "true", @display = "none" })
                            </div>
                            <div class="col-md-6">
                                @Html.TextBoxFor(m => m.RoomType, new { @class = "alphanumwithspc form-control ", @maxlength = "50", @tabindex = "14", @next = "Remarks", @readonly = "true" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-2 pb-2">
                        <h5 class="mb-2">
                            Remarks
                        </h5>
                        @Html.TextAreaFor(m => m.Remarks, new { @class = "description-height form-control ", @tabindex = "15", @readonly = "true" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mb-2 pb-2">
                        <h5 class="mb-2">
                            Admin Remarks
                        </h5>
                        @Html.TextAreaFor(m => m.AdminRemarks, new { @class = "description-height form-control ", @tabindex = "2" })
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input class="btn btn-primary mr-2" id="btnSubmit" name="inputSubmit" type="submit" value="Save" tabindex="3" title='Save Room Booking Request' />
                    <input class="btn btn-secondary cancel" id="btnCancel" name="inputCancel" type="button" value="Cancel" tabindex="4" title='Cancel Room Booking Request' />
                </div>
            </div>
        </div>
    </div>
}
<script src="~/Scripts/Utility/RoomBookingRequest.js"></script>
