@{
    ViewBag.Title = "Movie";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdd = Convert.ToBoolean(ViewData["blAddRights"]);
    bool isEdit = Convert.ToBoolean(ViewData["blEditRights"]);
    bool isDelete = Convert.ToBoolean(ViewData["blDeleteRights"]);
}
<div class="">
    <div class="d-flex align-items-center border-bottom pb-2 mb-3 main-form--heading ">
        <h4 class="heading mb-4 m-md-0">
            @ViewBag.Title
        </h4>
        @Html.Hidden("hfAdd", @isAdd)
        @Html.Hidden("hfEdit", @isEdit)
        @Html.Hidden("hfDelete", @isDelete)

        <div class="ml-auto d-sm-flex align-items-center clearfix contant-toph">
            <div class="usearch-text mb-sm-0 mb-3 d-flex">
                <input type="text" id="txtMovieSearch" placeholder="Search" class="form-control form-control-sm" />
                <a id="txtsearch" class="btn btn-secondary ml-2 mr-1" href="javascript:void(0);">
                    <svg width="20" height="20" viewBox="0 0 25 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M23.6156 21.7221L19.0818 17.2016C20.5446 15.3381 21.3383 13.0368 21.3354 10.6677C21.3354 8.55781 20.7097 6.49533 19.5375 4.74104C18.3653 2.98675 16.6993 1.61944 14.75 0.812033C12.8008 0.0046221 10.6558 -0.206633 8.58652 0.204981C6.51719 0.616596 4.61639 1.63259 3.12449 3.12449C1.63259 4.61639 0.616596 6.51719 0.204981 8.58652C-0.206633 10.6558 0.0046221 12.8008 0.812033 14.75C1.61944 16.6993 2.98675 18.3653 4.74104 19.5375C6.49533 20.7097 8.55781 21.3354 10.6677 21.3354C13.0368 21.3383 15.3381 20.5446 17.2016 19.0818L21.7221 23.6156C21.846 23.7405 21.9935 23.8398 22.156 23.9074C22.3185 23.9751 22.4928 24.01 22.6688 24.01C22.8448 24.01 23.0191 23.9751 23.1816 23.9074C23.3441 23.8398 23.4916 23.7405 23.6156 23.6156C23.7405 23.4916 23.8398 23.3441 23.9074 23.1816C23.9751 23.0191 24.01 22.8448 24.01 22.6688C24.01 22.4928 23.9751 22.3185 23.9074 22.156C23.8398 21.9935 23.7405 21.846 23.6156 21.7221ZM2.66692 10.6677C2.66692 9.08528 3.13616 7.53841 4.01529 6.2227C4.89443 4.90698 6.14397 3.8815 7.60592 3.27594C9.06787 2.67039 10.6766 2.51194 12.2285 2.82065C13.7805 3.12937 15.2061 3.89136 16.3251 5.01029C17.444 6.12922 18.206 7.55481 18.5147 9.10681C18.8234 10.6588 18.665 12.2675 18.0594 13.7294C17.4539 15.1914 16.4284 16.4409 15.1127 17.3201C13.7969 18.1992 12.2501 18.6684 10.6677 18.6684C8.54574 18.6684 6.51072 17.8255 5.01029 16.3251C3.50986 14.8246 2.66692 12.7896 2.66692 10.6677Z" fill="white" />
                    </svg>
                </a>
            </div>
            <div class="adduser-links">
                @if (isAdd)
                {
                    @Html.ActionLink("Add New Movie", "Movie", "Movie", new { }, new { @class = "btn btn-secondary ml-1" })
                }
                @if (isDelete)
                {
                    <a class="btn btn-secondary ml-1" id="btnDeleteMovie" href="javascript:void(0)">Delete Movie</a>
                }
            </div>
        </div>
    </div>
    <div class="usearch-text d-flex align-items-center mb-4 movie-view--active">
        @Html.CheckBox("ActiveMovie", true)
        <h5 class="ml-2 mb-0">
            Is active?
        </h5>
    </div>
    <div class="user-contant">
        <div id="dvMovie" class="card shadow rounded overflow-hidden" style="width:auto">
            <table id="tblMovie"></table>
            <div id="dvMovieFooter"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utility/MovieView.js">
</script>