@model EcubeWebPortalCMS.Models.AAAConfigSetting
@{
    ViewBag.Title = "Document Library";
    Layout = "~/Views/Shared/_Layout.cshtml";
    bool isAdd = Convert.ToBoolean(ViewData["blAddRights"]);
    bool isEdit = Convert.ToBoolean(ViewData["blEditRights"]);
    bool isDelete = Convert.ToBoolean(ViewData["blDeleteRights"]);
}
<div class="row-fluid">
    <div class="span12">
        <h4 class="heading">
            @ViewBag.Title
        </h4>
    </div>
    <div class="span12 clearfix contant-toph">
        @Html.Hidden("hfAdd", @isAdd)
        @Html.Hidden("hfEdit", @isEdit)
        @Html.Hidden("hfDelete", @isDelete)
        <div class="usearch-text">
            <label>
                Search
            </label>
            <input type="text" id="txtDocumentSearch" />
        </div>
          <ul class="adduser-links">
            <li>
                @if (isAdd)
                {
                @Html.ActionLink("Add New Document", "DocumentLibrary", "DocumentLibrary")
                }
                 @if (isDelete)
                {
                <a id="btnDeleteDocument" href="javascript:void(0)">Delete Document</a>
                 }
            </li>
        </ul>
    </div>
    @Html.Hidden("hdnDocViewerRootFolderPath",Model.KeyValue)
    <div class="span12 user-contant">
        <div id="dvDocument">
            <table id="tblDocument"></table>
            <div id="dvDocumentFooter"></div>
        </div>
    </div>
</div>
<script src="~/Scripts/Utility/DocumentLibraryView.js"></script>