@model EcubeWebPortalCMS.Models.MovieShowModel
@{
    ViewBag.Title = "Movie Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@{using (Html.BeginForm("MovieShow", "MovieShow", FormMethod.Post, new { @id = "frmMovieShow", @class = "form_validation_ttip well stdform" }))
{
    <div class="">
        <div class="d-flex align-items-center border-bottom pb-2 mb-3 main-form--heading ">
            <h4 class="heading mb-4 m-md-0">
                @ViewBag.Title
            </h4>
        </div>
        <div class="pan">
            @Html.HiddenFor(m => m.HdnIFrame)
            @Html.HiddenFor(m => m.Id)
            <div class="card shadow rounded overflow-hidden card-space">
                <div class="row">
                    <div class="col-md-4 mb-3 pb-3">
                        <h5 class="mb-2">
                            Movie Show Name
                        </h5>
                        @Html.TextBoxFor(m => m.MovieShowName, new { @class = "alphanumwithspc form-control ", @maxlength = "50", @tabindex = "2", @next = "ShowStartDate" })
                    </div>
                
                    <div class="col-md-4 mb-3 pb-3">
                        <h5 class="mb-2">
                            Show Start Time <span class="f_req text-danger">*</span>
                        </h5>
                        @Html.TextBoxFor(m => m.StrShowStartDate, new { @class = "required time form-control", @tabindex = "3", @next = "strShowEndDate" })
                    </div>
                
                    <div class="col-md-4 mb-3 pb-3">
                        <h5 class="mb-2">
                            Show End Time <span class="f_req text-danger">*</span>
                        </h5>
                        @Html.TextBoxFor(m => m.StrShowEndDate, new { @class = "required time form-control", @tabindex = "4", @next = "IsActive" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 d-flex justify-content-start mb-3">
                        @Html.CheckBoxFor(m => m.IsActive, new { @class = "form-control ", @tabindex = "5", @next = "btnSubmit" })
                        <h5 class="mb-3 ml-2">
                            Is active?
                        </h5>
                    </div>
                </div>
                <div class="d-flex justify-content-end mt-3">
                    <input class="btn btn-primary mr-2" id="btnSubmit" name="inputSubmit" type="submit" value="Save" tabindex="6" title='Save Movie Show' />
                    <input class="btn btn-secondary cancel" id="btnCancel" name="inputCancel" type="button" value="Cancel" tabindex="7" title='Cancel Movie Show' />
                </div>
            </div>
        </div>
    </div>
}
}
<script src="~/Scripts/Utility/MovieShow.js"></script>
