@model EcubeWebPortalCMS.Models.FacilityCategoryModel
@{
    ViewBag.Title = "Facility Category";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("FacilityCategory", "FacilityCategory", FormMethod.Post, new { @id = "frmFacilityCategory", @class = "form_validation_ttip well stdform" }))
{
<div class="">
    <div class="d-flex align-items-center border-bottom pb-2 mb-3 main-form--heading ">
        <h4 class="heading mb-4 m-md-0">
            @ViewBag.Title
            @Html.HiddenFor(m => m.HdnSession)
        </h4>
    </div>

    <div class="pan">
        <div class="card shadow rounded overflow-hidden card-space">
            @Html.HiddenFor(m => m.HdnIFrame)
            @Html.HiddenFor(m => m.CategoryId)
            <div class="row">
                <div class="col-md-4 mb-3 pb-3">
                    <h5 class="mb-2">
                        Facility Category Name <span class="f_req text-danger">*</span>
                    </h5>
                    @Html.TextBoxFor(m => m.CategoryName, new { @class = "span9 required alphanumwithspc form-control ", @maxlength = "50", @tabindex = "1", @next = "SequenceNo" })
                </div>

                <div class="col-md-4 mb-3 pb-3">
                    <h5 class="mb-2">
                        Sequence No

                    </h5>
                    @Html.TextBoxFor(m => m.SequenceNo, new { @class = "span9  required numwithspc form-control ", @maxlength = "3", @tabindex = "2", @next = "ImagePath" })
                </div>
                <div class="col-md-4 mb-3 pb-3">
                    <h5 class="mb-2">Image</h5>
                    <input type="file" id="ImagePath" tabindex="3"/>
                    @Html.HiddenFor(m => m.ImagePath, new { id = "ImagePath" })
                    <img id="aImageName" alt="" src="@Model.ImagePath" onerror="this.onerror=null;this.src='/Content/Image/noprofile-img.jpg';" class="movie-mobile--img mt-2" />
                    <span class="text-danger d-flex pt-2 pb-2"><span>Note: &nbsp; </span><span>Allowed Format: .jpg, .gif, .png; <br/> Allowed Size: 1440 X 750</span></span>
                </div>
            </div>
            <div class="d-flex justify-content-end mt-3">
                <input class="btn btn-primary mr-2" id="btnSubmit" name="inputSubmit" type="submit" value="Save" tabindex="4" title='Save Facility Category' />
                <input class="btn btn-secondary cancel" id="btnCancel" name="inputCancel" type="button" value="Cancel" tabindex="5" title='Cancel Facility Category' />
            </div>
        </div>
    </div>
</div>
}
<script src="~/Scripts/Utility/FacilityCategory.js"></script>